{{ define "content" }}

<body>

<div class="card">
    <h1>Velkommen 👋</h1>
    <p>Dette er en simpel Go-applikation med autentificering.</p>
    <div class="nav-links">
        <a href="/login">Log ind</a> | 
        <a href="/register">Opret konto</a>
    </div>
</div>


{{ end }}