{{ define "index" }}

<body>

<div class="card">
    <h1>{{ .Title}} 👋</h1>
    <p>{{ .Message}}</p>
    <div class="nav-links">
        <a href="/login">Log ind</a> | 
        <a href="/register">Opret konto</a>
    </div>
</div>


{{ end }}