
APP_NAME=Connect
APP_KEY= # used to authenticate the user
APP_ENV=dev #choose between dev or prod
APP_DEBUG=true #choose between true or false, false in production
APP_PORT=8443
APP_URL=http://localhost


DB_CONNECTION=sqlite # choose between sqlite or postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_DATABASE=connect
DB_PATH=./data/connect.db
