{{ define "auth.register" }}

{{. }}

<div class="card">
    <h1>Opret bruger</h1>
    <form enctype="multipart/form-data" action="/registerPost" method="POST">
        <label>Name</label>
        <input type="text" name="name" required value="{{ ( old "name" .)  }}">
        
        <label>Email</label>
        <input type="email" name="email" required value="{{ ( old "email" .)  }}">
        
        <label>Adgangskode</label>


    {{ if index .errors "password" }}
        <div class="error-message">
            <ul>
            {{ range index .errors "password" }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>
        </div>
    {{ end }}
        
        <input type="password" name="password" required>
        {{csrf_token .}}

        <button type="submit">Registrer</button>
    </form>
    <div class="nav-links">
        <a href="/login">Har du allerede en konto? Log ind</a>
    </div>
</div>

{{ end }}

{{ define "auth.register_footer"}} {{ end}}